body{
    margin:0px;
    overflow:hidden;
     
}

#content{
    height:100%;
    width:280%
}

dino1 {
    background: url("../img/Dino1.png") no-repeat center top;
}

#game{
    width: 100%;
    height: 100%;
}

#content{
    position: absolute;
    background: url(../img/Achtergrond.jpg) no-repeat center top;
}

headcharacter{
    background: url("../img/Poppetje.png") no-repeat center top;
}

bar{
    background-color:gray;
}
dino1 {
    background: url("../img/Dino1.png") no-repeat center top;
}

fireball{
    background: url(../img/Fire.png) no-repeat center top;
}

/* kleding {
    background: url("../img/Tshirt.png") no-repeat center top;
} */

startscherm{
    background: url("../img/Startscherm.png") center center;
}
