body{
    margin:0px;
    overflow:hidden;
     
}


#content{
    height:100%;
    width:280%
}

dino1 {
    background: url("../img/Dino1.png") no-repeat center top;
}

tijdmachine{
    background:url("../img/Tijdmachine.png") no-repeat center top;
}

heks {
    background: url("../img/Middeleeuwen_0002s_0002_Vliegende-Heks2.png") no-repeat center top;
}

headcharacter{
    background: url("../img/Poppetje.png") no-repeat center top;
}

gekkeman{
    background: url("../img/Middeleeuwen_0002s_0000_Claude_Frollo2.png") no-repeat center top;
}
bar{
    background-color:gray;
}
dino1 {
    background: url("../img/Dino1.png") no-repeat center top;
}

fireball{
    background: url(../img/Fire.png) no-repeat center top;
}

startscherm{
    background: url("../img/Startscherm.png") center center;
}

eindscherm{
    background: url("../img/Einde.png") center center; 
}

eindscherm > h1{
    font-family: "Lato";
    font-weight: 700;
    color:#ff5062;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    margin:0px;
    margin-top:calc(25% - 160px);
}

eindscherm > button{
    font-family: "Lato";
    font-weight: 700;
    color:white;
    background-color:#ff5062;
    font-size:30px;
    text-align:  center;
    border: 2px solid #ff5062;
    border-radius:30px;
    padding: 5px 80px;
    margin-top:10px;
}

eindscherm{
    display:inline-block;
    position: absolute;
    text-align: center;
    width:100%;
    height:100%;
    /*background: url("../img/Background_gameover.png") no-repeat center bottom; */
}

youwon > h1{
    font-family: "Lato";
    font-weight: 700;
    color:#ff5062;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    margin:0px;
    margin-top:calc(25% - 160px);
}

youwon > button{
    font-family: "Lato";
    font-weight: 700;
    color:white;
    background-color:#ff5062;
    font-size:30px;
    text-align:  center;
    border: 2px solid #ff5062;
    border-radius:30px;
    padding: 5px 80px;
    margin-top:10px;
}

youwon{
    display:inline-block;
    position: absolute;
    text-align: center;
    width:100%;
    height:100%;
    background: url("../img/Achtergrond.jpg") no-repeat center center;
}



