body{
    margin:0px;
     overflow-y:hidden;
     /* overflow-x:hidden; */
     
}

dino1 {
    background: url("../img/Dino1.png") no-repeat center top;
}

#game{
    position: relative;
    width: 1200px;
    height: 1020px;
    background: url(../img/Achtergrond.jpg) no-repeat center top;
}

headcharacter{
    background: url("../img/Poppetje.png") no-repeat center top;
}

bar{
    background-color:gray;
}
dino1 {
    background: url("../img/Dino1.png") no-repeat center top;
}

fireball{
    background: url(../img/Fire.png) no-repeat center top;
}
kleding {
    background: url("../img/Prehistory_0002s_0001_Tshirt.png") no-repeat center top;
}

startscherm{
    background-color:red;
}
.nativeCamera {
    overflow: hidden;
    position: absolute;
}
/* #canvas {
    position: absolute;
    height: 1020px;
    width: 1200px;
} */